.navbar
{
    background: rgba(153, 14, 14, 0.678) !imporant ;
    z-index: inherit 5;
    width: 100%;


}

.navbar-nav a
{
    color: whitesmoke !important;
    font: size 25px;
     letter-spacing: 2px;
  
    
}

.nav-item
{
    margin-left: 30px;
    
}
input
{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 2px solid black;
    font-size: 15px;
    padding: 2px;
}

.dropdown-menu a
{
    color: black !important;
}
.dropdown-menu
{
    
    margin-top:-10px !important;
    
}
.fa
{
    margin-top: 12px;
    margin-left: 20px;
    
}
/* Carousel */

.carousel-caption
{
   
    margin-bottom:30px;
    z-index: 5 !important;
    
}
.carousel-indicators
{
    z-index: 5 !important;
}
.carousel-item 
{
    height:100vh;
   
   
}
.carousel-item img
{
    width: 100%;
}

@media (max-width: 1010px) 
{
    .carousel-item 
    {
        height:auto;
       
    }
    
}
  

/* Video section */

.offer
{
    letter-spacing: 5px;
    color:black;
}

.video-sec 
{
    background-color:rgba(0, 255, 255, 0.356);
    padding-top:150px;
    padding-bottom:150px;
}


/* cards */
.section1
{
   background-color: rgba(238, 224, 224, 0.801);
   padding-bottom: 80px;
   padding-top: 60px;
  
}
.title1 h2 
{
    margin-bottom: 65px;
    text-align: center;
    margin-top: 54px;
    font-style: inherit;
    font-size: 30px;
     word-spacing: 10px;
    letter-spacing: 5px;
}

.section1 .card-footer
{
    text-align: right;
    font-size: large;
}

.card
{
    margin-bottom: 60px;
    background-color:white;
    text-align: center;
    margin-right: 15px;
    border-radius: 20px;
}
.card-title
{
    font-weight: lighter;
    letter-spacing: 2px;
}



.card-footer button
{
    border-radius: 10px;
}
.blockquote-footer
{
    margin-top: 10px;
}
.section1 .card img:hover
{
    transform: scale(1.05);
    transition: ease-in 0.3s;


    
}
/* Service provided */
.section2
{
    padding-top:100px;
    background-color: rgba(0, 128, 128, 0.151);
    padding-bottom:100px;
}

.section2 img
{
    width: 55%;
    margin-top: px;
   
    
    
}
.section2 .flip-card
{
   margin-right: auto;
   margin-left: auto;
   margin-bottom: 30px;
}
.service
{
        margin-left: auto;
        margin-right: auto;
        text-align: center;

}

.flip-card
{
    margin-top: 70px;
    perspective:1000px;
    width: 300px;
    height: 350px;
    background-color: burlywood;
    

}
.flip-card-inner
{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner
{
    transform: rotateY(180deg);
}
.flip-card-front,.flip-card-back
{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.flip-card-back
{
    transform: rotateY(180deg);
    background-color:whitesmoke;
}
.flip-card-front
{
    background-color:rgba(94, 192, 13, 0.678);
    
}
.flip-card-back h3
{
    margin-top: 100px;
    
    
}
.flip-card-front img
{
    margin-top: 90px;

    
}

/* Customer */
.section3
{
    background-color:rgba(0, 255, 255, 0.397);
    padding-top: 100px;
    padding-bottom: 60px;
}
.customer-heading
{
    text-align: center;
    letter-spacing: 4px;
    margin-bottom: 70px;
    
}



.section3  .card img
{
    max-width:30%;
    margin-top: -40px;
    border-radius:15% 15% 15% 0%;
  
    
}
.section3 p
{
    text-align: justify;
   
    margin-left: 10%;
    padding: 10px;

    
}
.card

{

    background-color:white;
    border-top-right-radius:25px !important;
    border-bottom-right-radius: 25px !important;
    border-bottom-left-radius:25px !important ;
    margin-top: 40px;
}
.section3  .card .blockquote-footer 
{
  text-align: right;
}
/* who */
.about p
{
    text-align: center;
    margin-top: 30px;
}
.end img
{
    max-width:65px;
    
}
.about a
{
    color:black;
    font-size: 29px;
    letter-spacing: 8px;
}
.about img
{
    
}
.about 
{
    text-align: center;
    color:black;
}
.end
{
    background-color:rgba(216, 209, 209, 0) ;
    padding-bottom:100px;
    padding-top: 100px;
}

/* foooter */
.last
{
    text-align: center;
    
   
} 
 .map, .map h3, .map img
{
      
      margin-top: 30px;
}

.company, .company p
{
    margin-top: 30px;
}
.social, .social h3
{
    margin-top: 30px;
}
.Connect, .Connect h3, .Connect .fa
{
    margin-top: 30px;
}
.map img
{
    width:80%;
}
.social p
{
    margin-top: 35px;
}
.last
{
   background-color: rgba(161, 143, 143, 0.863);
}
.fa
{
    color:black;
    font-size: 25px;
}
